In [4]:
import pandas as pd

In [7]:
nRowsRead = 1000 # specify 'None' if want to read whole file
# HAM10000_metadata.csv may have more rows in reality, but we are only loading/previewing the first 1000 rows
df1 = pd.read_csv('~/Desktop/mlpart/input/HAM10000_metadata.csv', delimiter=',', nrows = nRowsRead)
df1.dataframeName = 'HAM10000_metadata.csv'
nRow, nCol = df1.shape
print(f'There are {nRow} rows and {nCol} columns')

There are 1000 rows and 7 columns

In [8]:
df1.head(5)

     lesion_id      image_id   dx dx_type   age   sex localization
0  HAM_0000118  ISIC_0027419  bkl   histo  80.0  male        scalp
1  HAM_0000118  ISIC_0025030  bkl   histo  80.0  male        scalp
2  HAM_0002730  ISIC_0026769  bkl   histo  80.0  male        scalp
3  HAM_0002730  ISIC_0025661  bkl   histo  80.0  male        scalp
4  HAM_0001466  ISIC_0031633  bkl   histo  75.0  male          ear

In [9]:
nRowsRead = 1000 # specify 'None' if want to read whole file
# hmnist_28_28_L.csv may have more rows in reality, but we are only loading/previewing the first 1000 rows
df2 = pd.read_csv('~/Desktop/mlpart/input/hmnist_28_28_L.csv', delimiter=',', nrows = nRowsRead)
df2.dataframeName = 'hmnist_28_28_L.csv'
nRow, nCol = df2.shape
print(f'There are {nRow} rows and {nCol} columns')

There are 1000 rows and 785 columns

In [10]:
df2.head(5)

,pixel0000,pixel0001,pixel0002,pixel0003,pixel0004,pixel0005,pixel0006,pixel0007,pixel0008,pixel0009,...,pixel0775,pixel0776,pixel0777,pixel0778,pixel0779,pixel0780,pixel0781,pixel0782,pixel0783,label
0,169,171,170,177,181,182,181,185,194,192,...,184,186,185,180,157,140,140,159,165,2
1,19,57,105,140,149,148,144,155,170,170,...,172,175,160,144,114,89,47,18,18,2
2,155,163,161,167,167,172,155,152,165,175,...,163,178,157,166,167,148,141,136,115,2
3,25,71,116,139,136,153,148,161,172,162,...,125,135,138,137,111,71,32,16,16,2
4,129,162,181,196,205,208,205,213,225,224,...,210,197,172,190,195,193,181,147,88,2